.product{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	min-width: 100px;
	max-height: 400px;
	margin: 10px;
	padding: 20px;
	width: 100%;
	background-color: white;
	z-index: 1;
}

.product_rating{
	display: flex;
}

.product > img{
	width: 100%;
	max-height: 200px;
	object-fit: contain;
	margin-bottom: 15px;
}

.product button{
	background-color: darkorange;
	color: solid black;
	padding: 5px;
}

.product_info{
	height: 100px;
	margin-bottom: 15px;
	cursor: pointer;
	color: black;
}

.product_price{
	margin-top: 5px;
}