.cart-img{
    width: 100%;
    margin-bottom: 10px;
}
#fullProduct{
    display: flex;
}
#product-Image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.details{
    padding-left: 20px;
}
.flexButton{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 17px;
    font-weight: 800;
}
.flexButton > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734,#9c7e31,#846a29;
    color: black;
    cursor: pointer;
}